# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Logs and outputs
logs/
outputs/
checkpoints/

# OS files
.DS_Store
Thumbs.db
